.slider-container
    .slider-container__list
        input#radio1(type='radio' name='radio-btn')
        input#radio2(type='radio' name='radio-btn')
        input#radio3(type='radio' name='radio-btn')
        .slider-home.slider-1.first
            .grid.wide
                .slider-home-content
                    h1
                        | Enjoy every 
                        span Moments
                    h4 SLIDER 1
        .slider-home.slider-2
            .grid.wide
                .slider-home-content
                    h1
                        | Enjoy every 
                        span Moments
                    h4 Slider 2
        .slider-home.slider-3
            .grid.wide
                .slider-home-content
                    h1
                        | Enjoy every 
                        span Moments
                    h4 Slider 3
        // Automatic slider
        .navigation-auto
            .auto-btn1
            .auto-btn2
            .auto-btn3
        // Manual Slider
        .navigation-manual
            label.manual-btn(for='radio1')
            label.manual-btn(for='radio2')
            label.manual-btn(for='radio3')
