.footer
    .grid
        .footer-wrap
            .footer__middle.row
                .col.l-6.m-12.c-12
                    .footer__middle-content
                        .footer__middle-logo
                            img(src='/img/logo-green.png')
                        p.footer__middle-text
                            | We have teamed up with award-winning tour operators to bring you the best tours of North America. From the seat of US power in Washington DC to the bright lights of New York and natural wonders such as the Grand Canyon, our travel partners deliver tours that cover every base.
                            //- | Tours of the USA take in the breezy beaches of Malibu, the blackjack tables of Las Vegas, the iconic Golden Gate Bridge in San Francisco, and the musical heritage of the Deep South. 
                            //- | In Canada, cruise to the Arctic from the vibrant city of Vancouver, drive the Icefields Parkway through the Canadian Rockies, or discover French history in timeless Montreal. 
                            //- | Browse the selection of tours on this page and find the perfect itinerary for your next North America voyage.
                        .footer__middle-socials
                            a.footer__middle-social-link(href='')
                                i.fab.fa-twitter
                            a.footer__middle-social-link(href='')
                                i.fab.fa-youtube
                            a.footer__middle-social-link(href='')
                                i.fab.fa-facebook-square
                            a.footer__middle-social-link(href='')
                                i.fab.fa-vimeo-v
                .footer__middle-list.col.l-2.m-4.c-12
                    h5.footer__middle-heading OUR AGENCY
                    .footer__middle-item
                        i.ti-angle-right
                        p Services
                    .footer__middle-item
                        i.ti-angle-right
                        p Insurancee
                    .footer__middle-item
                        i.ti-angle-right
                        p Agency
                    .footer__middle-item
                        i.ti-angle-right
                        p Tourism
                    .footer__middle-item
                        i.ti-angle-right
                        p Payment
                .footer__middle-list.col.l-2.m-4.c-12
                    h5.footer__middle-heading PARTNERS
                    .footer__middle-item
                        i.ti-angle-right
                        p Booking
                    .footer__middle-item
                        i.ti-angle-right
                        p RentalCar
                    .footer__middle-item
                        i.ti-angle-right
                        p HostelWorld
                    .footer__middle-item
                        i.ti-angle-right
                        p Trivago
                    .footer__middle-item
                        i.ti-angle-right
                        p TripAdvisor
                .footer__middle-list.col.l-2.m-4.c-12
                    h5.footer__middle-heading LAST MINUTE
                    .footer__middle-item
                        i.ti-angle-right
                        p London
                    .footer__middle-item
                        i.ti-angle-right
                        p California
                    .footer__middle-item
                        i.ti-angle-right
                        p Indonesia
                    .footer__middle-item
                        i.ti-angle-right
                        p Europe
                    .footer__middle-item
                        i.ti-angle-right
                        p Oceania
            .footer__bottom.row
                .footer__bottom-item.col.l-6.m-12.c-12 THE BEST TOUR COMPANY IN THE WORLD
                .footer__bottom-item.col.l-6.m-12.c-12 COPYRIGHT NATOURS 2021





//- footer.footer
//-     .footer__logo
//-         img(src='/img/logo-green.png' alt='Natours logo')
//-     ul.footer__nav
//-         li
//-             a(href='#') About us
//-         li
//-             a(href='#') Download apps
//-         li
//-             a(href='#') Become a guide
//-         li
//-             a(href='#') Careers
//-         li
//-             a(href='#') Contact
//-     p.footer__copyright
//-         | &copy; by Jonas Schmedtmann. All rights reserved.


//- THE CONVERTED OUTPUG WILL APPEAR HERE

            