extends base

block content 
    .about-container
        .grid.wide
            .row
                .col.l-8.c-12.m-12
                    p.about-us.first-paragraph
                        span.bigFirstLetter S
                        | ince 2021, NATour has been committed to bringing travelers the best in value and quality travel arrangements. 
                        | We are passionate about travel and providing corporate travelers high-touch services to facilitate their business travel needs and sharing the world’s wonders on the leisure travel side.
                        
                    //
                        <br>
                        <br>
                    p.about-us
                        | NATour is the largest independently owned travel agency headquartered in Ho Chi Minh City, and consistently ranked among the top 50 largest in the World.
                        | Our mission statement is "We are an employee-owned company with a passion for providing exemplary customer service, leveraging our expertise and technology to deliver innovative travel solutions in a gratifying work environment.
                        
                    .service-container
                    .service-list.row
                        .service-list__item.l-6
                            img(src='assets/img/tour-1.png' alt='')
                            .service-list__item-text
                                p
                                    | Save Hundreds On Flights Anywhere in the World! Use Today's Promo Code When You Book.
                                a.service-btn(href='') Fly Promo
                        .service-list__item.l-6
                            img(src='assets/img/tour-3.png' alt='')
                            .service-list__item-text
                                p
                                    | Search and book air tickets and hotels all over the world. Cheap prices and best availability.
                                a.service-btn(href='') City Travel
                        .service-list__item.l-6
                            img(src='assets/img/tour-2.png' alt='')
                            .service-list__item-text
                                p
                                    | Cruise to unforgettable destinations with Royal Caribbean. Save with the best cruise deals and packages to the Caribbean and the Bahamas.
                                a.service-btn(href='') CRUISES
                        .service-list__item.l-6
                            img(src='assets/img/tour-4.png' alt='')
                            .service-list__item-text
                                p
                                    | Let us plan a tasting tour for you! We do the work so you don't have to. We can plan birthday tours, bachelorette tours, couple's getaways, etc.
                                a.service-btn(href='') Relax Tours
                        .service-list__item.l-6
                            img(src='assets/img/tour-5.png' alt='')
                            .service-list__item-text
                                p
                                    | Hiking is a bit like life: The journey only requires you to put one foot in front of the other…again and again and again.
                                a.service-btn(href='') Hiking
                        .service-list__item.l-6
                            img(src='assets/img/tour-6.png' alt='')
                            .service-list__item-text
                                p
                                    | Climb the mountain not to plant your flag, but to embrace the challenge, enjoy the air and behold the view. Climb it so you can see the world, not so the world can see you.
                                a.service-btn(href='') Climbing

                .col.l-4.c-12.m-12
                    .info-container
                        .info-column
                            img(src='./assets/img/placeholder.png' alt='placeholder')
                            .info-column__text
                                h3 ADDRESS
                                p London Ave 232 - London
                        .info-column
                            img(src='./assets/img/smartphone.png' alt='smartphone')
                            .info-column__text
                                h3 PHONE
                                p +0123456789
                        .info-column
                            img(src='./assets/img/edit.png' alt='email')
                            .info-column__text
                                h3 EMAIL
                                p anhluong059@gmail.com
                    .contact-container
                        .contact-text
                            p CONTACT US
                            h3 Drop Us A Line
                        form.contact-form(action='contact-about-us' method='post')
                            label(for='email') Email: 
                            input(type='text' name='email')
                            label(for='message') Message: 
                            textarea(name='message')
                            input.submit-btn(type='submit' value='SEND NOW')
            .logo-container
                .logo-container-wrapper
                    img(src='assets/img/tour-1.png')
                    h4.logo-slogan OVER THE WORLD
                .logo-container-wrapper
                    img(src='assets/img/tour-2.png')
                    h4.logo-slogan CRUISE TOUR
                .logo-container-wrapper
                    img(src='assets/img/tour-3.png')
                    h4.logo-slogan CITY TRAVEL
                .logo-container-wrapper
                    img(src='assets/img/tour-4.png')
                    h4.logo-slogan RELAX LOCATION
    .about-us-banner
        video#myVideo(autoplay='' muted='' loop='')
             source(src='./assets/video/love-travel.mp4' type='video/mp4')
    .grid.wide
        .about-us-staff.row
            each guide in guides
                .staff-item.col.l-3.c-6.m-6
                    .staff-item__img
                        img(alt='' src=`/img/users/${guide.photo}`)
                    .staff-item__text
                        h3= guide.name.split(' ')[0]
                        h6= guide.role
                        p= guide.email



