extends base

block content 
    #booking.section
        .section-center
            .booking-container
                .booking-row
                    .col-md-7.col-md-push-5
                        .booking-cta
                            h1 Make a booking
                            p
                                | Booking is now to Discover some of our most popular trips on the hiking in organised groups with a guide between the islands or long weekend getaways for hiking and camping
                    .col-md-4.col-md-pull-7
                        .booking-form
                            form
                                .form-group
                                    span.form-label Your Tour
                                    select.form-control
                                        each tour in tours
                                            option= tour.name
                                    span.select-arrow

                                .form-group
                                    .label-container
                                        p.form-label Departing:
                                        p.form-span.departing 31/12/2021
                                .form-group
                                    .label-container
                                        p.form-label DIFFICULTY:
                                        p.form-span.difficulty Very Hard
                                .form-group
                                    .label-container
                                        p.form-label Price:
                                        p.form-span.price $ 10000
                                .form-group
                                    .label-container
                                        p.form-label Max people:
                                        p.form-span.maxGr 10
                                .form-btn
                                    button.submit-btn Booking
