/* About Us */

.about-container {
    margin-top: 80px;
}

.about-us {
    font-size: 1.4rem;
    color: #a3a3a3;
}


/*service list start */

.service-list__item {
    margin-top: 10px;
    display: flex !important;
    justify-content: space-between;
}

.service-list__item img {
    width: 50px;
    height: 50px;
    display: block;
}

.service-list__item-text a {
    text-decoration: none;
    font-size: 13px;
    line-height: 13px;
    border-radius: 30px;
    border: solid #ffffff;
    background-color: var(--orange-color);
    padding: 7px 20px;
    color: #ffffff;
    margin-top: 10px;
    display: inline-block;
}

.service-list__item-text {
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding-left: 20px;
    color: #9a9a9a;
    letter-spacing: 1px;
}


/* service list end */

.info-container {
    padding-left: 60px;
    border-radius: 5px;
    background-color: #555555;
}

.info-column img {
    width: 30px;
    height: 100%;
}

.info-column {
    display: flex;
    padding: 20px 0;
}

.info-column__text {
    padding-left: 15px;
    color: #fff;
    margin: 0;
    font-size: 1.3rem;
}

.info-column__text h3 {
    font-weight: lighter;
    line-height: 1.8rem;
}

.info-column__text p {
    padding-top: 5px;
}

.contact-container {
    margin-top: 30px;
}

.contact-container p,
.contact-container h3 {
    text-align: center;
}

.contact-text p {
    color: #9a9a9a;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.contact-text h3 {
    font-size: 2rem;
    line-height: 2.7rem;
    font-weight: bold;
    margin-top: 5px;
    color: #555555;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    background-color: #f9f9f9;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 30px;
    border-style: solid;
    padding: 10px 20px;
    -webkit-appearance: none;
    color: #a3a3a3;
    outline: none;
}

.contact-form textarea {
    height: 200px;
}

.contact-form label {
    margin: 10px 0;
    font-size: 1.4rem;
    color: #9a9a9a;
}

.contact-form .submit-btn {
    width: 100%;
    margin: auto;
    background-color: #14b9d5;
    border-width: 0px;
    border-color: #fff;
    border-radius: 30px;
    border-style: solid;
    padding: 10px 20px;
    -webkit-appearance: none;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
}

.contact-form .submit-btn:hover {
    opacity: 0.9;
}


/* On hover, add a black background color with a little bit see-through */

.prevImg:hover,
.nextImg:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* about Us banner */

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-banner {
    height: 600px;
    position: relative;
    z-index: -1;
}

.about-us-staff {
    z-index: 2;
    margin-top: -60px;
}

.staff__item {
    width: 100%;
    background-color: red;
    height: 300px;
}

.staff-item__img img {
    width: 100%;
}

.staff-item__text {
    text-align: center;
    padding: 10px;
}

.staff-item__text h3 {
    padding-top: 13px;
    color: #555555;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.3rem;
}

.staff-item__text h6 {
    padding-top: 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #9a9a9a;
    letter-spacing: 0.3rem;
}

.staff-item__text p {
    padding-top: 20px;
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #9a9a9a;
}


/* End About us banner */


/* About us */

.about-us-title {
    font-size: 36px;
}

.about-us {
    font-size: 14px;
    line-height: 27px;
    margin: 0px;
    padding: 0px;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: 1px;
    text-align: justify;
}

.first-paragraph {
    padding-bottom: 30px;
}

.bigFirstLetter {
    float: left;
    padding: 28px 28px 28px 0;
    font-size: 70px;
    margin-bottom: 0;
    line-height: 30px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
}

.logo-container-wrapper {
    margin: 60px;
    width: 100%;
    text-align: center;
}

.logo-slogan {
    color: #878787;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2px;
    font-weight: lighter;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (max-width: 1023px) {
    .about-us-banner {
        height: 1000px;
    }
    .banner-video {
        height: 346px;
        margin-top: 10px;
    }
    .video-wrapper {
        width: 700px;
    }
    .video-popup {
        top: 370%;
    }
    .banner-promotion-container {
        padding: 0;
        margin-bottom: 10px;
    }
}